*.kld
*.ko
*.log
*.o
.gdb_history
@
export_syms
machine
sys/fsyscall/fsyscall_proto.h
sys/fsyscall/fsyscall_syscall.h
sys/fsyscall/fsyscall_syscalls.c
sys/fsyscall/fsyscall_sysent.c
sys/fsyscall/fsyscall_systrace_args.c
x86
