*.core
*.kld
*.ko
*.log
*.o
.gdb_history
@
export_syms
machine
module/sys/fsyscall/fsyscall_proto.h
module/sys/fsyscall/fsyscall_syscall.h
module/sys/fsyscall/fsyscall_syscalls.c
module/sys/fsyscall/fsyscall_sysent.c
module/sys/fsyscall/fsyscall_systrace_args.c
x86
